# Statisitical Analysis

___

### Table Of Contents

1. ???
2. ???
3. ???
4. ???
5. ???
6. ???
7. ???
8. ???
9. ???
10. ???

___

### 1. Import libraries as needed

In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
import scipy.stats as stats

___

### 2. Expand maximum range of rows

May be a good idea to expand the maximum range of rows to view in your Pandas dataframes.<br>
Use <b>pd.set_option()</b>

In [ ]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

### 3. Import athleisure dataset

In [2]:
df = pd.read_csv("/Users/alexandercheng/Desktop/code/projects/athleisure-ads-strategy/data/athleisure.csv")
df.head()

,Unnamed: 0,keyword,volume,year,month,engine,total_volume_for_last_12_months,avg_volume_for_last_12_months,total_months_seen
0,0,yoga pants,0,2018,6,google,779,65,12
1,1,yoga pants,68,2018,7,google,779,65,12
2,2,yoga pants,107,2018,8,google,779,65,12
3,3,yoga pants,63,2018,9,google,779,65,12
4,4,yoga pants,72,2018,10,google,779,65,12

___

### 4. Get ANOVA table

https://reneshbedre.github.io/blog/anova.html

In [ ]:
# stats f_oneway functions takes the groups as input and returns F and P-value
fvalue, pvalue = stats.f_oneway(d['A'], d['B'], d['C'], d['D'])
print(fvalue, pvalue)
# 17.492810457516338 2.639241146210922e-05

# reshape the d dataframe suitable for statsmodels package 
d_melt = pd.melt(d.reset_index(), id_vars=['index'], value_vars=['A', 'B', 'C', 'D'])

# replace column names
d_melt.columns = ['index', 'treatments', 'value']

# Ordinary Least Squares (OLS) model
model = ols('value ~ C(treatments)', data=d_melt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

___

### 5. Tukey Test

https://reneshbedre.github.io/blog/anova.html

In [ ]:
# load packages
from statsmodels.stats.multicomp import pairwise_tukeyhsd
# perform multiple pairwise comparison (Tukey HSD)
m_comp = pairwise_tukeyhsd(endog=d_melt['value'], groups=d_melt['treatments'], alpha=0.05)
print(m_comp_res)