In [173]:
import pandas as pd
import numpy as np
from scipy import stats
import requests
import json

## Defining the official "Athleisure" word list:

"Athleisure" descriptors were chosen based on Amazon.com most featured "Athleisure" items:

In [ ]:
search_terms_5 = [
"short sleeve"
,"mesh"
,"striped"
]

search_terms_6 = [
"striped"
,"stripes"
,"3 stripes"
]

search_terms_7 = [
"stripe"
,"stretch"
,"stretchy"
]

search_terms_8 = [
"stretchable"
,"flex"
,"flexing"
]

search_terms_9 = [
"lightweight"
,"spandex"
,"breathable"
]

search_terms_10 = [
"loose"
,"loose fit"
,"fitted"
]

search_terms_11 = [
"core"
,"blend"
,"cotton"
]

search_terms_12 = [
"high waist"
,"tights"
,"baggy"
]

search_terms_13 = [
"slim"
,"activewear"
,"sleeveless"
]

search_terms_14 = [
"active"
,"athletic"
,"relaxed"
]

search_terms_15 = [
"performance"
,"pockets"
,"drawstring"
]

search_terms_16 = [
"squat"
,"tummy"
,"movement"
]

search_terms_17 = [
"skinny"
,"workout"
,"racerback"
]

search_terms_18 = [
"scoop neck"
,"v neck"
,"raglan"
]

search_terms_19 = [
"tapered"
,"lined"
,"quick dry"
]

search_terms_20 = [
"padded"
,"running"
,"ventilated"
]

search_terms_21 = [
"warm up"
,"crop top"
,"crop hoodie"
]

search_terms_22 = [
"elastic"
,"dri fit"
,"cropped"
]

search_terms_23 = [
"wicking"
,"mid rise"
,"active gear"
]

search_terms_24 = [
"running gear"
,"split back"
]

In [42]:
# Official word list to use
word_list = [
"yoga pants"
,"sweatpants"
,"sweatshirt"
,"sweatband"
,"windbreaker"
,"leggings"
,"tank top"
,"muscle tank"
,"long sleeve"
,"short sleeve"
,"crew neck"
,"thumb hole"
,"pullover"
,"fleece"
,"joggers"
,"hoodie"
,"hooded"
,"capri"
,"muscle tee"
,"basic tee"
,"mesh"
,"striped"
,"stripes"
,"3 stripes"
,"stripe"
,"stretch"
,"stretchy"
,"stretchable"
,"flex"
,"flexing"
,"lightweight"
,"spandex"
,"breathable"
,"loose"
,"loose fit"
,"fitted"
,"core"
,"blend"
,"cotton"
,"high waist"
,"tights"
,"baggy"
,"slim"
,"activewear"
,"sleeveless"
,"active"
,"athletic"
,"relaxed"
,"performance"
,"pockets"
,"drawstring"
,"squat"
,"tummy"
,"movement"
,"skinny"
,"workout"
,"racerback"
,"scoop neck"
,"v neck"
,"raglan"
,"tapered"
,"lined"
,"quick dry"
,"padded"
,"running"
,"ventilated"
,"warm up"
,"crop top"
,"crop hoodie"
,"elastic"
,"dri fit"
,"cropped"
,"wicking"
,"mid rise"
,"active gear"
,"running gear"
,"split back"]

## Creating a DataFrame using Wordtracker API

In [180]:
# Initialize empty lists of column values
keyword = []
volume = []
year = []
months = []
search_engine = []
total_volume_for_last_12_months = []
avg_volume_for_last_12_months = []
total_months_seen = []


engine_list = ["google", "youtube", "amazon"]

# DELETE before submitting final notebook
sample_word_list = ["yoga pants", "sweat pants", "sweatshirt"]

for engine in engine_list:
    # Replace sample_word_list with word_list for proper notebook
    for word in sample_word_list:

        # Set up the parameters we want to pass to the API.
        parameters = {"seeds": word, 
                      "engine": engine, 
                      "country_code": "US", 
                      "type": "phrase",
                      "sort":"total",
                      "start":1, 
                      "limit": 1, 
                      "app_id": "155a4ade", 
                      "app_key": "6a4a7141c1088c22bea4376d3e74f47e" }
        
        # Make a get request with the parameters.
        response = requests.get("https://api.lc.wordtracker.com/v2/search?", params=parameters)
        
        if len(response.json()['results']) != 0:
            # Store constant volume values found in outer layer of dictionary
            print(response.json()['results'])
            total_volume = response.json()['results'][0]['total_volume_for_last_12_months']
            avg_volume = response.json()['results'][0]['avg_volume_for_last_12_months']
            total_months = response.json()['results'][0]['total_months_seen']
            
            # Append values to pre-defined columns lists
            for month in response.json()['results'][0]['volume_by_month']:
                keyword.append(word)
                volume.append(month['volume'])
                year.append(month['year'])
                months.append(month['month'])
                search_engine.append(engine)
                total_volume_for_last_12_months.append(total_volume)
                avg_volume_for_last_12_months.append(avg_volume)
                total_months_seen.append(total_months)
        else:
            continue

KeyError: 'results'

In [37]:
# Display example json result
print(response.json().keys())
response.json()['results']

dict_keys(['errors'])

KeyError: 'results'

In [32]:
# DataFrame creation using lists of each column
data = {'keyword': keyword, 
        'volume': volume, 
        'year': year, 
        'month': months, 
        'engine': search_engine,
        'total_volume_for_last_12_months': total_volume_for_last_12_months,
        'avg_volume_for_last_12_months': avg_volume_for_last_12_months,
        'total_months_seen': total_months_seen}

athleisure_df = pd.DataFrame.from_dict(data)

,keyword,volume,year,month,engine,total_volume_for_last_12_months,avg_volume_for_last_12_months,total_months_seen
0,tapered,0,2018,06,google,238,20,12
1,tapered,27,2018,07,google,238,20,12
2,tapered,25,2018,08,google,238,20,12
3,tapered,16,2018,09,google,238,20,12
4,tapered,32,2018,10,google,238,20,12
5,tapered,24,2018,11,google,238,20,12
6,tapered,7,2018,12,google,238,20,12
7,tapered,26,2019,01,google,238,20,12
8,tapered,16,2019,02,google,238,20,12
9,tapered,14,2019,03,google,238,20,12
10,tapered,18,2019,04,google,238,20,12
11,tapered,19,2019,05,google,238,20,12
12,raglan,0,2018,06,google,251,21,12
13,raglan,19,2018,07,google,251,21,12
14,raglan,43,2018,08,google,251,21,12
15,raglan,11,2018,09,google,251,21,12
16,raglan,25,2018,10,google,251,21,12
17,raglan,32,2018,11,google,251,21,12
18,raglan,14,2018,12,google,251,21,12
19,raglan,21,2019,01,google,251,21,12
20,raglan,19,2019,02,google,251,21,12
21,raglan,22,2019,03,google,251,21,12
22,raglan,15,2019,04,google,251,21,12
23,raglan,12,2019,05,google,251,21,12
24,breathable,0,2018,06,google,37,3,9
25,breathable,2,2018,07,google,37,3,9
26,breathable,4,2018,08,google,37,3,9
27,breathable,2,2018,09,google,37,3,9
28,breathable,2,2018,10,google,37,3,9
29,breathable,3,2018,11,google,37,3,9
30,breathable,1,2018,12,google,37,3,9
31,breathable,0,2019,01,google,37,3,9
32,breathable,4,2019,02,google,37,3,9
33,breathable,0,2019,03,google,37,3,9
34,breathable,0,2019,04,google,37,3,9
35,breathable,5,2019,05,google,37,3,9
36,stretchable,0,2018,06,google,7,1,3
37,stretchable,0,2018,07,google,7,1,3
38,stretchable,0,2018,08,google,7,1,3
39,stretchable,0,2018,09,google,7,1,3
40,stretchable,0,2018,10,google,7,1,3
41,stretchable,3,2018,11,google,7,1,3
42,stretchable,0,2018,12,google,7,1,3
43,stretchable,0,2019,01,google,7,1,3
44,stretchable,0,2019,02,google,7,1,3
45,stretchable,0,2019,03,google,7,1,3
46,stretchable,1,2019,04,google,7,1,3
47,stretchable,0,2019,05,google,7,1,3

In [ ]:
# Preview DataFrame
athleisure_df.head(36)

In [98]:
# TEMP data due to maxing API calls. DELETE before submitting final notebook.
sample_data = {'keyword': ['tapered', 'tapered', 'tapered','tapered', 'tapered', 'tapered','tapered', 'tapered', 'tapered','tapered', 'tapered', 'tapered', 'raglan', 'raglan', 'raglan', 'raglan', 'raglan', 'raglan','raglan', 'raglan', 'raglan','raglan', 'raglan', 'raglan', 'breathable', 'breathable', 'breathable','breathable', 'breathable', 'breathable', 'breathable', 'breathable', 'breathable', 'breathable', 'breathable', 'breathable'], 
        'volume': [0,27,25,16,32,24,7,26,16,14,18,19,0,19,43,11,25,32,14,21,19,22,15,12,0,2,4,2,2,3,1,0,4,0,0,5], 
        'year': ['2018','2018','2018','2018','2018','2018', '2018','2019','2019','2019','2019','2019','2018','2018','2018','2018','2018','2018', '2018','2019','2019','2019','2019','2019','2018','2018','2018','2018','2018','2018', '2018','2019','2019','2019','2019','2019'],
        'month': ['06','07','08','09','10','11','12','01','02','03','04','05','06','07','08','09','10','11','12','01','02','03','04','05','06','07','08','09','10','11','12','01','02','03','04','05'],
        'engine': ['google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google','google'],
        'total_volume_for_last_12_months': [238,238,238,238,238,238,238,238,238,238,238,238,251,251,251,251,251,251,251,251,251,251,251,251,37,37,37,37,37,37,37,37,37,37,37,37],
        'avg_volume_for_last_12_months': [20,20,20,20,20,20,20,20,20,20,20,20,21,21,21,21,21,21,21,21,21,21,21,21,3,3,3,3,3,3,3,3,3,3,3,3],
        'total_months_seen': [12,12,12,12,12,12,12,12,12,12,12,12,9,9,9,9,9,9,9,9,9,9,9,9,3,3,3,3,3,3,3,3,3,3,3,3]}
# for key,value in sample_data.items():
#     print(key,len(value))
sample_df = pd.DataFrame.from_dict(sample_data)

In [99]:
sample_df

,keyword,volume,year,month,engine,total_volume_for_last_12_months,avg_volume_for_last_12_months,total_months_seen
0,tapered,0,2018,06,google,238,20,12
1,tapered,27,2018,07,google,238,20,12
2,tapered,25,2018,08,google,238,20,12
3,tapered,16,2018,09,google,238,20,12
4,tapered,32,2018,10,google,238,20,12
5,tapered,24,2018,11,google,238,20,12
6,tapered,7,2018,12,google,238,20,12
7,tapered,26,2019,01,google,238,20,12
8,tapered,16,2019,02,google,238,20,12
9,tapered,14,2019,03,google,238,20,12
10,tapered,18,2019,04,google,238,20,12
11,tapered,19,2019,05,google,238,20,12
12,raglan,0,2018,06,google,251,21,9
13,raglan,19,2018,07,google,251,21,9
14,raglan,43,2018,08,google,251,21,9
15,raglan,11,2018,09,google,251,21,9
16,raglan,25,2018,10,google,251,21,9
17,raglan,32,2018,11,google,251,21,9
18,raglan,14,2018,12,google,251,21,9
19,raglan,21,2019,01,google,251,21,9
20,raglan,19,2019,02,google,251,21,9
21,raglan,22,2019,03,google,251,21,9
22,raglan,15,2019,04,google,251,21,9
23,raglan,12,2019,05,google,251,21,9
24,breathable,0,2018,06,google,37,3,3
25,breathable,2,2018,07,google,37,3,3
26,breathable,4,2018,08,google,37,3,3
27,breathable,2,2018,09,google,37,3,3
28,breathable,2,2018,10,google,37,3,3
29,breathable,3,2018,11,google,37,3,3
30,breathable,1,2018,12,google,37,3,3
31,breathable,0,2019,01,google,37,3,3
32,breathable,4,2019,02,google,37,3,3
33,breathable,0,2019,03,google,37,3,3
34,breathable,0,2019,04,google,37,3,3
35,breathable,5,2019,05,google,37,3,3

## Data Cleaning

In [503]:
athleisure_df = pd.read_csv("athleisure-ads-strategy/athleisure.csv")
athleisure_df.drop(['Unnamed: 0'], axis =1, inplace = True)

In [504]:
athleisure_df.head()

,keyword,volume,year,month,engine,total_volume_for_last_12_months,avg_volume_for_last_12_months,total_months_seen
0,yoga pants,0,2018,6,google,779,65,12
1,yoga pants,68,2018,7,google,779,65,12
2,yoga pants,107,2018,8,google,779,65,12
3,yoga pants,63,2018,9,google,779,65,12
4,yoga pants,72,2018,10,google,779,65,12

In [505]:
athleisure_df.dtypes
# Need to convert year, month to str.

import calendar
athleisure_df['month_abbr'] = athleisure_df.month.apply(lambda x: calendar.month_abbr[x])
athleisure_df['year'] = athleisure_df.year.apply(lambda x: str(x))
athleisure_df['month'] = athleisure_df.month.apply(lambda x: str(x))

In [506]:
# Check volume amounts for Jun months
print(athleisure_df.loc[athleisure_df.month == '6'].volume.unique())
# All are zero. Must impute value

[0]

## Impute June volume amounts for google searches by subtracting volume totals from given total amount:

In [507]:
def volume_totals():
    # Pandas Series of summed volume totals by keyword
    return athleisure_df.groupby(['keyword','engine']).volume.sum()

def june_volume(row):
    if row.month == '6' and row.volume == 0:
        # Return the difference between the total year volume and the sum of the volume col
        difference = row.total_volume_for_last_12_months - volume_totals()[row.keyword, row.engine]
        return difference
    else:
        return row.volume

# Above only works for google keywords
athleisure_df['volume'] = athleisure_df.apply(june_volume, axis=1)

## Determine which word/engine combinations have faulty June values:

In [508]:
x = athleisure_df[athleisure_df.volume == 0].groupby(['keyword', 'engine']).count()['volume']
y = athleisure_df[athleisure_df.volume == 0].groupby(['keyword', 'engine']).mean()['total_months_seen']
xy = x+y
xy[xy==13]
# If count of zeros in volume col + total months seen = 0, then June data is missing
# 87 values still missing

keyword      engine
active       amazon     13
             youtube    13
activewear   amazon     13
athletic     amazon     13
             youtube    13
                        ..
windbreaker  amazon     13
workout      amazon     13
             youtube    13
yoga pants   amazon     13
             youtube    13
Length: 87, dtype: int64

## Functions for cleaning remaining columns:

Function for imputing average volume into missing June values:

In [511]:
def june_volume_avg(row):
# Function that imputes the average of 11 months for data still missing from Jun
    for combo in xy[xy==13].index:
        # If count of zeros in volume col + total months seen = 0, then June data is missing
        if row.keyword in combo[0] and row.engine in combo[1] and row.month == '6':
        # Return the average of the other 11 months
    
            new_volume = row.total_volume_for_last_12_months/11
            break
        else:
            new_volume = row.volume
    return int(new_volume)

athleisure_df['volume'] = athleisure_df.apply(june_volume_avg, axis=1)

Function for adding average volume value to incorrect total volume column:

In [513]:
def fix_total_volumes(row):

    for combo in xy[xy==13].index:
        # If count of zeros in volume col + total months seen = 0, then June data is missing
        if row.keyword in combo[0] and row.engine in combo[1]:
            
            new_volume = row.total_volume_for_last_12_months + row.total_volume_for_last_12_months/11
            return int(new_volume)
            break
        else:
            new_volume = row.total_volume_for_last_12_months
    return int(new_volume)

athleisure_df['total_volume_for_last_12_months'] = athleisure_df.apply(fix_total_volumes, axis=1)

Function for correcting avg volume column:

In [515]:
def fix_avg_volumes(row):
    
    for combo in xy[xy==13].index:
        # If count of zeros in volume col + total months seen = 0, then June data is missing
        if row.keyword in combo[0] and row.engine in combo[1]:
    
            new_volume = athleisure_df.loc[(athleisure_df.keyword == row.keyword) & (athleisure_df.month == '6') & (athleisure_df.engine == row.engine)].volume
            return int(new_volume)
            break
        else:
            new_volume = row.avg_volume_for_last_12_months
    return int(new_volume)
            

athleisure_df['avg_volume_for_last_12_months'] = athleisure_df.apply(fix_avg_volumes, axis=1)

In [556]:
# Check if imputed June values match provided avg volume counts
# 71 due to rounding any totals or averages to 1 if zero or <1
(athleisure_df.groupby(['keyword','engine']).volume.mean().round().astype(int) == athleisure_df.groupby(['keyword', 'engine']).avg_volume_for_last_12_months.mean()).value_counts()

True     144
False     71
dtype: int64

In [557]:
# Display DataFrame
sample_df.head(24)

,keyword,volume,year,month,engine,total_volume_for_last_12_months,avg_volume_for_last_12_months,total_months_seen,top_5
0,tapered,14,2018,06,google,238,20,12,True
1,tapered,27,2018,07,google,238,20,12,True
2,tapered,25,2018,08,google,238,20,12,True
3,tapered,16,2018,09,google,238,20,12,True
4,tapered,32,2018,10,google,238,20,12,True
5,tapered,24,2018,11,google,238,20,12,True
6,tapered,7,2018,12,google,238,20,12,True
7,tapered,26,2019,01,google,238,20,12,True
8,tapered,16,2019,02,google,238,20,12,True
9,tapered,14,2019,03,google,238,20,12,True
10,tapered,18,2019,04,google,238,20,12,True
11,tapered,19,2019,05,google,238,20,12,True
12,raglan,18,2018,06,google,251,21,9,True
13,raglan,19,2018,07,google,251,21,9,True
14,raglan,43,2018,08,google,251,21,9,True
15,raglan,11,2018,09,google,251,21,9,True
16,raglan,25,2018,10,google,251,21,9,True
17,raglan,32,2018,11,google,251,21,9,True
18,raglan,14,2018,12,google,251,21,9,True
19,raglan,21,2019,01,google,251,21,9,True
20,raglan,19,2019,02,google,251,21,9,True
21,raglan,22,2019,03,google,251,21,9,True
22,raglan,15,2019,04,google,251,21,9,True
23,raglan,12,2019,05,google,251,21,9,True

## What are the top 10 most popular keyword/engine combinations?

In [564]:
# Calculate top 5 keywords based on total volume for 12 months
print(athleisure_df.groupby(['keyword','engine']).volume.sum().sort_values(ascending=False)[:10])
top_10_words = athleisure_df.groupby(['keyword','engine']).volume.sum().sort_values(ascending=False)[:5].index

keyword     engine
hoodie      youtube    912316
sweatshirt  youtube    836526
running     youtube    666453
workout     amazon     424922
flex        youtube    379425
hoodie      amazon     378631
leggings    amazon     254341
workout     youtube    250052
joggers     amazon     235238
cotton      youtube    222565
Name: volume, dtype: int64

In [148]:
# Creating a new column for top 5 words
sample_df['top_5'] = sample_df.keyword.apply(lambda x: x in top_5_words)

In [149]:
sample_df

,keyword,volume,year,month,engine,total_volume_for_last_12_months,avg_volume_for_last_12_months,total_months_seen,top_5
0,tapered,14,2018,06,google,238,20,12,True
1,tapered,27,2018,07,google,238,20,12,True
2,tapered,25,2018,08,google,238,20,12,True
3,tapered,16,2018,09,google,238,20,12,True
4,tapered,32,2018,10,google,238,20,12,True
5,tapered,24,2018,11,google,238,20,12,True
6,tapered,7,2018,12,google,238,20,12,True
7,tapered,26,2019,01,google,238,20,12,True
8,tapered,16,2019,02,google,238,20,12,True
9,tapered,14,2019,03,google,238,20,12,True
10,tapered,18,2019,04,google,238,20,12,True
11,tapered,19,2019,05,google,238,20,12,True
12,raglan,18,2018,06,google,251,21,9,True
13,raglan,19,2018,07,google,251,21,9,True
14,raglan,43,2018,08,google,251,21,9,True
15,raglan,11,2018,09,google,251,21,9,True
16,raglan,25,2018,10,google,251,21,9,True
17,raglan,32,2018,11,google,251,21,9,True
18,raglan,14,2018,12,google,251,21,9,True
19,raglan,21,2019,01,google,251,21,9,True
20,raglan,19,2019,02,google,251,21,9,True
21,raglan,22,2019,03,google,251,21,9,True
22,raglan,15,2019,04,google,251,21,9,True
23,raglan,12,2019,05,google,251,21,9,True
24,breathable,14,2018,06,google,37,3,3,True
25,breathable,2,2018,07,google,37,3,3,True
26,breathable,4,2018,08,google,37,3,3,True
27,breathable,2,2018,09,google,37,3,3,True
28,breathable,2,2018,10,google,37,3,3,True
29,breathable,3,2018,11,google,37,3,3,True
30,breathable,1,2018,12,google,37,3,3,True
31,breathable,0,2019,01,google,37,3,3,True
32,breathable,4,2019,02,google,37,3,3,True
33,breathable,0,2019,03,google,37,3,3,True
34,breathable,0,2019,04,google,37,3,3,True
35,breathable,5,2019,05,google,37,3,3,True

## Hypothesis Testing

H01 - All keywords are equal in terms of total search volume.

Average total volume (top 5) <= Average total volume (rest of words)

HA1 - Some keywords are have greater total search volume than others.

Average total volume (top 5) > Average total volume (rest of words)

**Clarify if top 5 words need to be defined using analysis outside of data set, since the "TOP 5" category was defined on the metric we are testing. Otherwise, seems a little obvious.**

In [166]:
sample1 = sample_df.loc[sample_df.top_5 == True].volume
sample2 = sample_df.loc[sample_df.top_5 != True].volume

# Define a function for conducting a t-test
def t_test(sample1, sample2, two_tailed=True):
    
    # Returns two-tailed test by default
    H = stats.ttest_ind(sample1, sample2, equal_var=False)
    
    if two_tailed == True:
        print(f"The t-statistic is {H[0]} and the corresponding p-value is {H[1]/2}")
        print(f"The effect size is {sample1.mean() - sample2.mean()}")
    elif two_tailed == False:
        print(f"The t-statistic is {H[0]} and the corresponding p-value is {H[1]}")
        print(f"The effect size is {sample1.mean() - sample2.mean()}")
        
def cohen_d(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    var1 = np.var(sample1)
    var2 = np.var(sample2)
    
    effect_size = np.mean(sample1) - np.mean(sample2)
    pooled_var = (n1 * var1 + n2 * var2) / (n1 + n2)
    
    # Calculate Cohen's d
    d = effect_size / np.sqrt(pooled_var)
    return print(f"Cohen's d statistic is {d}")

t_test(sample1, sample2, two_tailed = False)
cohen_d(sample1, sample2)

The t-statistic is nan and the corresponding p-value is nan
The effect size is nan

H02 - People will be equally likely to search for activewear-related terms in any given month.

Average Volume(Jan) = Average Volume(Feb) = Average Volume(Mar) = Average Volume(Apr) = Average Volume(May) = Average Volume(Jun) = Average Volume(Jul) = Average Volume(Aug) = Average Volume(Sep) = Average Volume(Oct) = Average Volume(Nov) = Average Volume(Dec)

HA2 - People will be more likely to search for activewear-related terms depending on the month.